.largeIcon:before {
  width:3rem;
  height:3rem;
  font-size:1.5rem
}

.greenIcon:before {
  color: green; 
  width:3rem;
  height:3rem;
  font-size:1.5rem
}

.yellowIcon:before {
    color: yellow;
    width:3rem;
    height:3rem;
    font-size:1.5rem
  }

.redIcon:before {
    color: red;
    width:3rem;
    height:3rem;
    font-size:1.5rem
}

